version: '2'

services:
  artemis:
    image: artemis-ubuntu:latest
    ports:
      - "61616:61616"
      - "8161:8161"
    networks:
      y-net:
        ipv4_address: 172.28.1.10

  book-store-1:
    image: playground/book-store-full:latest
    ports:
      - "91:8080"
      - "92:4848"
    environment:
      - DB_HOST=repository
      - DB_PWD=postgres
      - PAYARA_INSTANCE_NAME=node-1
    depends_on:
      - "artemis"
      - "repository"
    networks:
      y-net:
        ipv4_address: 172.28.1.1

  book-store-2:
    image: playground/book-store-full:latest
    ports:
      - "81:8080"
      - "82:4848"
    environment:
      - DB_HOST=repository
      - DB_PWD=postgres
      - PAYARA_INSTANCE_NAME=node-2
    depends_on:
      - "repository"
      - "artemis"
      - "book-store-1"
    networks:
      y-net:
        ipv4_address: 172.28.1.2

  repository:
    image: postgres:13-alpine
    mem_limit: 2048m
    memswap_limit: 3072m
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    networks:
      y-net:
        ipv4_address: 172.28.1.3

networks:
  y-net:
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16
